* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.clear {
  visibility: hidden;
}

body {
  background-image: url("./assert/hero.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
body header .menuNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 25px;
}
body header .menuNav button, body header .menuNav #signUp {
  width: 40px;
  height: 35px;
  font-size: 1.3em;
  border-radius: 30%;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
body header .menuNav button:hover, body header .menuNav #signUp:hover {
  opacity: 0.7;
}
body header #desktopNav {
  display: none;
}
body header #mobileNav {
  position: absolute;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  top: 0px;
  margin: 10px 5%;
  height: 90vh;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0px 0px 117px 2px rgba(0, 0, 0, 0.75);
}
body header #mobileNav .close {
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  margin: 10px;
}
body header #mobileNav .close button {
  color: rgb(88, 91, 94);
  font-size: 2em;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}
body header #mobileNav .close button:hover {
  color: rgb(51, 52, 53);
  transform: rotate(360deg);
}
body header #mobileNav article {
  margin: 20px;
}
body header #mobileNav article div {
  display: grid;
  grid-template-columns: 150px 150px;
}
body header #mobileNav article div a {
  text-decoration: none;
  margin-top: 10px;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(75, 83, 91);
}
body header #mobileNav article div a i {
  margin-right: 10px;
}
body header .showing {
  animation: show 1s forwards;
}
@keyframes show {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 90%;
    height: 90vh;
  }
}
body header .noShowing {
  animation: noShow 1s forwards;
}
@keyframes noShow {
  from {
    width: 90%;
    height: 90vh;
  }
  to {
    width: 0;
    height: 0;
  }
}
body header #signUp {
  display: none;
}
body main {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}
body main .leftSide {
  width: 350px;
  margin: 80px 30px;
}
body main .leftSide h1 {
  font-size: 2.4em;
  letter-spacing: 2.5px;
  line-height: 1.4;
}
body main .leftSide p {
  color: rgb(99, 104, 108);
  letter-spacing: 1.2px;
  margin: 20px 0px;
}
body main .leftSide button {
  width: 100px;
  height: 35px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.4s;
}
body main .leftSide button:hover {
  opacity: 0.7;
}
body main .rightSide {
  display: none;
}
@media (min-width: 800px) {
  body header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body header .menuNav #menu {
    display: none;
  }
  body header #signUp {
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1em;
    margin-right: 30px;
  }
  body header #mobileNav {
    visibility: hidden;
  }
  body header #desktopNav {
    display: block;
    display: flex;
  }
  body header #desktopNav :nth-of-type(2) > div {
    left: -135%;
  }
  body header #desktopNav :nth-of-type(3) > div {
    left: -50%;
  }
  body header #desktopNav article {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    flex: 1;
    cursor: default;
  }
  body header #desktopNav article h4 {
    margin: 30px;
    color: white;
    font-size: 1.4em;
  }
  body header #desktopNav article > div {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background-color: white;
    position: absolute;
    padding: 30px 20px;
    border-radius: 10px;
    transition: 0.1s;
    left: -100%;
    top: 75%;
  }
  body header #desktopNav article > div h5 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  body header #desktopNav article > div div {
    display: flex;
  }
  body header #desktopNav article > div div a {
    color: rgb(75, 83, 91);
    font-size: 1.1em;
    width: 100px;
    margin-right: 50px;
    text-decoration: none;
  }
  body header #desktopNav article > div div a i {
    margin-right: 10px;
  }
  body header #desktopNav article > div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin: -20px;
    border: 10px solid transparent;
    border-bottom-color: white;
  }
  body header #desktopNav article > div:hover {
    visibility: visible;
  }
  body header #desktopNav article h4:hover + .links {
    visibility: visible;
  }
  body main .rightSide {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */